<div class="container mt-5">
  <div class="row text-center">
    <div class="col-12">
      <img src="<%= asset_path('noodle.svg') %>" width="100" class="text-center" />
    </div>
  </div>

  <div class="row text-center mt-5">
    <div class="col-12">
      <%= flash_messages %>
    </div>
  </div>

  <div class="card mt-2">
    <div class="card-body">
      <%= form_tag cook_noodles_path do %>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Tempo de Preparo" name="tempo">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Ampulheta 1" name="amp1">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Ampulheta 2" name="amp2">
          </div>
          <div class="mr-3">
            <button type="submit" class="btn btn-primary">Preparar</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
